@import url(http://fonts.googleapis.com/css?family=Signika:100,200,300,400,500);
@charset 'UTF-8';

/**************/
/*  General   */
/**************/

body 
{
	margin: 0; 
	padding: 0;
	font-family: "Signika", sans-serif;
	color: rgb(77,78,91);
	font-weight: 300;
	line-height: 1.5em;
	font-size: 15pt;

}

h1
{
	font-weight: 400;
	line-height: 1.3em;
	font-size: 3.2em;
}

p
{
	font-size: 1.5em;
}

h2
{
   line-height: 0.75em;
}

h3
{
   line-height: 0.95em;
}
hr {
    width: 200px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(77,78,91);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}


/* One Page Scroll */
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  top: -2%;
  width: 100%;
  height: 105%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src:url('fonts/flexslider-icon.eot');
  src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('fonts/flexslider-icon.woff') format('woff'),
    url('fonts/flexslider-icon.ttf') format('truetype'),
    url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0; left: 96px; bottom: 63px;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #fff; border: 0px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; display: none;}
.flex-direction-nav .flex-next { right: -50px; text-align: right; display: none;}
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -12px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {  content: '';
  text-indent: -9999px;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;}
.flex-control-paging li a:hover {
  width: 5px;
  height: 5px;
  background: none;
  border: 2px solid black;
  margin-top: -2px;
  margin-left: -2px;}
.flex-control-paging li a.flex-active {   
  width: 8px;
  height: 8px;
  background: none;
  border: 1px solid black;
  margin-top: -3px;
  margin-left: -4px;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}


/**************/
/*  Header    */
/**************/

#header
{
	text-align: center;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
	bottom: 0;
	height: 100vh;
}

/**************/
/*  Images    */
/**************/

.image
{
	position: relative;
	display: inline-block;
	border: 0;
	outline: 0;
}

	.image img
	{
		display: block;
		width: 100%;
	}

	.image.logo
	{
		position: fixed;
    max-height: 30%;
		max-width: 50%;
		top: 38%;
    left: 24%;
	}

	.image.download
	{
      z-index: 9999;
      display: none;
	}
  .image.social
  {
    padding-right: 0.2em;
    height: 60px;
    width: 60px;
  }
  .image.social a:hover,
  .image.social a:focus
  {
    background: #e9716d;
  }

  .image.phone
  {
    width: 230px;
    max-height: 300px;
    top: 80px;
    right: -80px;
  }
  .image.showoff
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
  .image.animation
  {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .image.phonerow
  {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .image.pin
  {
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
  }
  .image.circles
  {
    width: 20%;
    max-width: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .image.local-info1
  {
    padding-top: 50px;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    float: left;
    padding-left: 10px; 
    padding-right: 10px;
  }
    .image.local-info2
  {
    padding-top: 50px;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    float: left;
    padding-left: 10px; 
    padding-right: 10px;
  }
  .social-media
  {
    position: relative;
    z-index: 99999;
    opacity: 0;
  }
    .social-media.twitter
    {
    }
    .social-media.facebook
    {
    }
    .social-media.instagram
    {
    }

/**************/
/*  Content   */
/**************/

.firstwrapper-three
{
  width: 27vw;
  float: left;
}

.secondwrapper-three
{
  width:26vw;
  float: left;
}

.thirdwrapper-three
{
  width:27vw;
  float: left;
}

.firstwrapper-two
{
  width: 30vw;
  float: left;
}

.secondwrapper-two
{
  width:20vw;
  float: left;
}

.thirdwrapper-two
{
  width:30vw;
  float: left;
}

.firstwrapper-one
{
  width: 80vw;
  float: left;
}

.secondwrapper-one
{
  width:80vw;
  float: left;
}

.thirdwrapper-one
{
  width:80vw;
  float: left;
}

.full-width
{
  width:100vw;
  float: left;
}
.vwcontainer
{
  width: 80%;
  float: left;
}
.local-heading
{
  text-align: center;
  padding-bottom: 25px;
}
.local-heading h2
{
  font-weight: 400;
  font-size: 40px;
  margin: 0;
}
.local-moreinfo
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contentone
{
  margin: 0;
  background-color: rgb(248,248,248);
  background-repeat: repeat;
  height: 100vh;
  padding-top: 4%;
  padding-left: 2%;
  vertical-align: middle;
}
  .contentone h1
  {
    text-align: center;
    font-weight: 100;
    font-size: 3.5vw;
    line-height: 26px;
    display: block;
  }
  .contentone p
  {
    font-weight: 100;
    text-align: center;
    font-size: 1.8vw;
  }

  .contenttwo
{
  margin: 0;
  background-color: rgb(248,248,248);
  background-repeat: repeat;
  height: 100vh;
  padding-top: 8.5%;
  padding-left: 2%;
}
  .contenttwo p
  {
    font-weight: 100;
    line-height: 25px;
    text-align: center;
    font-size: 1.2vw;
    padding-bottom: 15%;
    margin: 0;
  }
  .contenttwo h1
  {
    margin: 0;
    font-weight: 300;
    font-size: 1.6vw;
    text-align: center;
  }

  .contentthree
{
  margin: 0;
  background-color: rgb(248,248,248);
  background-repeat: repeat;
  height: 100vh;
  padding-top: 7%;
  padding-left: 2%
}
  .contentthree p
  {
    font-weight: 100;
    text-align: center;
    font-size: 1.4vw;
    margin: 0;
  }
  .contentthree h1
  {
    font-weight: 300;
    text-align: center;
    font-size: 1.6vw;
    margin: 0;
    padding-top: 10px;
  }


.wrapper-right /* Fullscreen sidebar used for phone image */
{
  background-color: rgba(78,78,78,0);
  position: fixed;
  float: right;
  height: 100vh;
  right: 0px;
  width: 350px;
  z-index: 9;
}

.social-media-container
{
  position: fixed;
  z-index: 9999;
  width: 280px;
  height: 50px;
  left: 0;
  bottom: 20px;
  text-align: center;
}


.fp-controlArrow.fp-next
{
  display: none;
}
.fp-controlArrow.fp-prev
{
  display: none;
}

.flexslider
{
  width: 198px;
  margin: 0; 
  padding: 0; 
  left: 96px; 
  bottom: 160px;
}


/**************/
/*  Footer    */
/**************/

#footer
{
   width: 100vw;
   background: #4d4e5b;
   display: inline-block;
   z-index: 999;
   height: 30vh;
   margin: 0;
   padding: 0;
}
   #footer h2
   {
      color: #fff;
      font-weight: 400;
   }
   #footer p
   {
      color: #fff;
      font-size: 0.6em;
      font-weight: 100;
   }
.copyright
{

}


ul.icons
{
   list-style-type: none;
   position: relative;
   background: rgba(233,113,109,0.2);
   border-radius: 4em;
   display: inline-block;
   padding: 0.35em 0.45em 0.05em 0.75em;
   font-size: 1.25em;
   cursor: default;
   text-align: 
}
.leftindent
{
   padding-left: 0em;
}

/**************/
/*    Menu    */
/**************/

.container {
  background: #4d4e5b;
}

.menu-wrap a {
  color: #fff;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
  color: #e9716d;
}

/* Menu Button */
.menu-button {
  position: fixed;
  z-index: 1000;
  margin: 1em;
  padding: 0;
  width: 2.5em;
  height: 2.25em;
  border: none;
  text-indent: 2.5em;
  font-size: 1.5em;
  color: transparent;
  background: transparent;
}

.menu-button::before {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  background: linear-gradient(#4d4e5b 20%, transparent 20%, transparent 40%, #4d4e5b 40%, #4d4e5b 60%, transparent 60%, transparent 80%, #4d4e5b 80%);
  content: '';
}

.menu-button:hover {
  opacity: 0.6;
}

/* Close Button */
.close-button {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 16px;
  border: none;
  z-index: 1001;
  background: transparent;
  color: transparent;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #888;
}

.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
  position: absolute;
  z-index: 1001;
  width: 280px;
  height: 100%;
  font-size: 1.15em;
  -webkit-transform: translate3d(-280px,0,0);
  transform: translate3d(-280px,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.menu {
  position: relative;
  z-index: 1000;
  padding: 3em 1em 0;
}

.menu,
.close-button {
  opacity: 0;
  -webkit-transform: translate3d(-160px,0,0);
  transform: translate3d(-160px,0,0);
  -webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
  transition: opacity 0s 0.3s, transform 0s 0.3s;
  -webkit-transition-timing-function: cubic-bezier(.17,.67,.1,1.27);
  transition-timing-function: cubic-bezier(.17,.67,.1,1.27);
}

.icon-list a {
  display: block;
  padding: 0.4em;
  text-decoration: none;
}

.icon-list i {
  font-size: 1.5em;
  vertical-align: middle;
  color: #282a35;
}

.icon-list a span {
  margin-left: 10px;
  font-size: 0.85em;
  font-weight: 400;
  vertical-align: middle;
  text-decoration: none;
}

/* Morph Shape */
.morph-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  fill: #4d4e5b;
}

/* Shown menu */
.show-menu .menu-wrap,
.show-menu .content::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.show-menu .social-media
{
  opacity: 1;
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, transform 0.6s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.show-menu .menu-wrap,
.show-menu .menu,
.show-menu .close-button,
.show-menu .morph-shape,
.show-menu .content::before {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.show-menu .menu,
.show-menu .close-button {
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}




/* Mobile*/
@media screen and (max-width: 1500px) {
  .flexslider 
  {
    width: 155px;
    margin: 0; 
    padding: 0; 
    left: 143px; 
    bottom: 173px;
  }
  .image.phone
  {
    width: 180px;
    max-height: 300px;
    top: 80px;
    right: -130px;
  }
  .firstwrapper-two
  {
    width: 26vw;
    float: left;
  }

  .secondwrapper-two
  {
    width:28vw;
    float: left;
  }

  .thirdwrapper-two
  {
    width:26vw;
    float: left;
  }
}

@media screen and (max-width: 1250px) {
  .flexslider 
  {
    width: 155px;
    margin: 0; 
    padding: 0; 
    left: 143px; 
    bottom: 175px;
  }
  .image.phone
  {
    width: 180px;
    max-height: 300px;
    top: 80px;
    right: -130px;
  }
  .image.showoff
  {
    max-width: 70%;
  }
  .image.circles
  {
    width:40%;
  }
  .firstwrapper-two
  {
    width: 0vw;
    display: none;
    float: left;
  }

  .secondwrapper-two
  {
    width:30vw;
    float: left;
  }

  .thirdwrapper-two
  {
    width: 40vw;
    float: left;
  }
  .vwcontainer
  {
    width: 70%;
    float: left;
  }
  .firstwrapper-three
  {
    width: 23vw;
    float: left;
  }

  .secondwrapper-three
  {
    width:24vw;
    float: left;
  }

  .thirdwrapper-three
  {
    width:23vw;
    float: left;
  }
}

@media screen and (max-width: 800px) {
  .wrapper-right /* Fullscreen sidebar used for phone image */
  {
    height: 0vh;
    right: 0px;
    width: 0px;
    z-index: 9;
  }

  .flexslider 
  {
    left: -1000px;
    display: none;
  }
  .image.phone
  {
    left: -1000px;
    display: none;
  }
  .image.download
  {
    position: fixed;
    max-width: 38%;
    display: block;
    z-index: 9999;
  }
    .image.download.apple
    {
      right: 10%;
      bottom: 10px;
    }
    .image.download.android
    {
      right: 50%;
      bottom: 10px;
    }
  .image.showoff
  {
    max-width: 300px;
    padding: 0;
  }
  .image.animation
  {
    max-width: 200px;
  }
  .image.logo
  {
    max-height: none;
    max-width: none;
    width: 90vw;
    height: 100vw;
    top: 38%;
    left: 20px;
  }
  .image.local-info
  {
    padding-top: 5px;
  }

  .local-moreinfo
  {
    width: 70%;
  }
  .firstwrapper-one
  {
    width: 100vw;
    height: 50px;
  }
  .secondwrapper-one
  {
    width: 100vw;
  }
  .thirdwrapper-one
  {
    width: 100vw;
  }
  .firstwrapper-two
  {
    display: inline-block;
    width: 100vw;
  }
  .secondwrapper-two
  {
    display: inline-block;
    width: 100vw;
  }
  .thirdwrapper-two
  {
    display: none;
  }
  .contenttwo h1
  {
    font-size: 15px;
  }
  .contenttwo p
  {
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 14px;
  }

  .vwcontainer
  {
    width: 100vw;
  }
  .contentone
  {
    height: 350px;
    padding: 0;
  }
  .contenttwo
  {
    height: 800px;
    padding: 0;
  }
  .contentthree
  {
    height: 750px;
    padding: 0;
  }
  .contentthree p
  {
    font-size: 18px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .contentone h1
  {
    font-size: 25px;
    padding-top: 15px;
    font-weight: 300;
  }
  .contentone p
  {
    font-size: 15px;
    margin: 0;
    padding-top: 50px;
  }
  .onepage-wrapper .section 
  {
  width: 100%;
  height: auto;
  }

  .firstwrapper-three
  {
    width: 100vw;
  }
  .secondwrapper-three
  {
    width: 100vw;
  }
  .thirdwrapper-three
  {
    width: 100vw;
  }
  .menu
  {
    padding: 0;
    padding-top: 40px;
  }
  .menu-wrap
  {
    width: 200px;
  }
  .menu-button
  {
    width: 50px;
    height: 50px;
    margin: 0px;
  }
  .close-button
  {
    width: 25px;
    height: 25px;
  }
  .icon-list a
  {
    padding: 10px;
  }
  .mobile-height
  {
    height: 100vh;
  }
  .social-media-container
  {
    width: 200px;
  }
  .local-heading h2
  {
    font-size: 20px;
    font-weight: 300;
  }
  .contentthree h1
  {
    font-size: 15px;
  }
  .contentthree p {
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 14px;
  }
  .image.local-info1
  {
    width: 40%;
  }
  .image.local-info2
  {
    width: 40%;
  }
  .image.phonerow
  {
    width: 100px;
  }
  .image.circles
  {
    width: 30%;
  }
}


